/* --------------------------------------------------

   custom.css

----------------------------------------------------- */
/* Add your styles here
[fr] Ajoutez vos styles ici */


/* TONTON THEME */

/* layout */
body {background:#ddd;}
.page {background:#fff;padding:2em 1em;border-radius:0.4em;
        box-shadow: 4px 5px 15px #888888;
}
@media (max-width: 767px) {
	body {
		background:#fff;
	}
	.page {
		padding: 0;
		border: none;
		box-shadow: none;
	}
}

/* form */
#content .formulaire_spip input.text, 
#content .formulaire_spip textarea {border:2px solid #999;background:#f4f4f4;border-radius:0.4em;}


/* lines  */
.footer {border-top:6px solid #ddd;}
.nav ul {padding:1em 0 0 0;margin:0;
         border-top:6px solid #ddd;
}
.arbo {border-left: 20px solid #ddd;padding-left:1em;}

/* nav */
.nav li {border-right:2px solid #ddd;}
.nav ul li a  {background:transparent;}
.nav li.last {border-right:none;}
