/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux
   cf.: http://romy.tetue.net/structure-html-de-base

-------------------------------------------------------------- */

body { text-align: center; }
.page { position: relative; width: 960px; margin:2em auto; text-align: left;  }

.header {}
.main { padding: 1.5em 0; }
.footer { clear: both; padding: 1em 0 0; margin:1em 0 0 0; border-top:1px solid #999; }

.wrapper { clear: both; float: left; width: 70%; overflow: hidden; }
.content { min-height: 350px; }
.aside { float: right; width: 25%; overflow: hidden; }


/* Entete et barre de navigation
------------------------------------------ */

.header { padding-bottom: 1.5em;  }
.header #logo { display: block; margin: 0; line-height: 1; font-weight: bold;  }
.header #logo,
.header #logo a,
.header #logo a:hover { background: transparent; text-decoration: none; color: #222; }
.header #slogan { margin: 0; }

.formulaire_menu_lang { position: absolute; right: 0; top: .9em; display: block; width: 30%; }

.nav { }
.nav ul {}
.nav ul li {display:inline;}
.nav ul li a {  display: inline-block; padding:0.25em 0.5em; margin:0 0.25em 0.5em 0;text-decoration: none; background:#189B14;color:#fff;border-radius:0.25em;}
.nav ul li.on a { background: #EED; color: #222; font-weight: normal; }
.nav ul li a:focus,
.nav ul li a:hover,
.nav ul li a:active { background: #222; color: #FFF; }



.footer .colophon { float: left; height: 40px; width: 70%; margin: 0; }
.footer .generator { float: right; }
.footer .generator a { padding: 0; background: none; }

/* Gabarit d'impression
------------------------------------------ */
@media print {
    .page,
    .wrapper,
    .content { width: auto; }
    .nav,
    .arbo,
    .aside,
    .footer { display: none; }
}

/* Affichage sur petits ecrans
Cf.: http://www.alsacreations.com/astuce/lire/1177
------------------------------------------ */
@media (max-width: 640px) {

    /* passer tous les elements de largeur fixe en largeur automatique */
    body,
    .page,
    .header,
    .main,
    .footer,
    .wrapper,
    .content,
    .aside { width: auto !important; margin: auto !important; }

    .page { margin: 0; padding: 5%; }

    /* Passer a une seule colonne (a appliquer aux elements multi-colonnes) */
    .content,
    .aside { clear: both; float: none !important; width: auto !important; }
    .nav ul li a { float: none; border: 0; }
    #formulaire_recherche { display: none; position: static; text-align: center; }
    .arbo { display: none; }
    .footer .colophon { width: auto; float: none; }
    .footer .generator { display: none; }

    /* header du calendrier full-calendar */
    table.fc-header td { display: block; text-align: left; }

}

/* end */