/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux
   cf.: http://romy.tetue.net/structure-html-de-base

-------------------------------------------------------------- */

body { text-align: center; background: #EEE url(img/background.jpg) fixed; }
.page { position: relative; width: 850px; margin: 0 auto 1.5em; padding: 50px 75px; background: #F8F8F8; text-align: left;
 -moz-box-shadow: 0 0 4em #666; -webkit-box-shadow: 0 0 4em #666; box-shadow: 0 0 4em #666; }

.header { width: 100%; }
.wrapper { clear: both; float: left; width: 65%; overflow: hidden; }
.content { min-height: 300px; }
.aside { float: right; width: 30%; overflow: hidden; }
.footer { clear: both; width: 100%; margin: 1.5em 0 0; padding: 1.5em 0; border-top: 4px solid; }

/* Gabarit d'impression */
@media print {
	.nav,
	.aside,
	.footer { display: none; }
	.page,
	.content { width: auto; }
}


/* Entete et barre de navigation
------------------------------------------ */

.header {}
.header #logo { margin: 0; line-height: 1; font-weight: bold; text-decoration: none; font-weight: normal; }
.header #logo,
.header #logo a,
.header #logo a:hover { background: transparent; text-decoration: none; color: #222; }

.formulaire_menu_lang { position: absolute; right: 0; top: .9em; display: block; width: 30%; }

.nav { margin-bottom: 1.5em; border: solid #222; border-width: 1px 0; }
.nav ul {}
.nav ul li {}
.nav ul li a { float: left; display: block; padding: .5em 1em; border-right: 1px solid #222; text-decoration: none; }
.nav ul li.on a { background: #FFF; color: #222; }
.nav ul li a:focus,
.nav ul li a:hover,
.nav ul li a:active { background: #222; color: #FFF; }

.formulaire_recherche { position: absolute; top: 75px; right: 75px; }
.formulaire_recherche * { display: inline; }

.footer .colophon { float: left; width: 70%; height: 40px; }
.footer .generator { float: right; text-align: right; }
.footer .generator .sep { display: none; }
.footer .generator a { display: block; margin: 0 0 10px 10px; }

/* end */