<plugin>
	<nom>Squelettes &laquo;&nbsp;dist&nbsp;&raquo;</nom>
	<icon>icon/skel.png</icon>
	<auteur>Collectif SPIP</auteur>
	<licence>GNU/GPL</licence>
	<version>2.0</version>
	<etat>dev</etat>
	<categorie>squelette</categorie>
	<slogan><multi>
		[fr] Squelettes par d&eacute;faut de SPIP&nbsp;3
		[en] Default template set in SPIP&nbsp;3
		[es] Juego de esqueletos por defecto en SPIP&nbsp;3
	</multi></slogan>
	<description><multi>
		[fr] Jeu de squelettes distribu&eacute; avec SPIP&nbsp;3.
		[en] Default template set in SPIP&nbsp;3.
		[es] Juego de esqueletos por defecto en SPIP&nbsp;3.
		</multi>
	</description>
	<prefix>dist</prefix>
	<necessite id="SPIP" version="[3.0.0-dev;)" />
</plugin>